* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url(../images/banner/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.header-item .header-title {
  color: #151414;
  text-align: right;
  font-family: Work Sans;
  font-size: 50px;
  font-weight: 700;
  margin-left: 365px;
  padding: 216px 230px 0px 845px;
}

.header-caption {
  color: #444343;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-right: 230px;
  padding-left: 876px;
  margin-top: 24px;
}

.primary-btn {
  margin-left: 1440px;
  margin-top: 32px;
  padding: 21px 25px 20px 26px;
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  background: #f15b22;
  border: 0;
  cursor: pointer;
}

/* main section */

main {
  width: 76%;
  margin: 0 auto;
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.img-section {
  margin-top: 139px;
}

.failures-details {
  margin-top: 369px;
  margin-left: 105px;
}

.failures-heading {
  width: 288px;
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

.failures-caption {
  margin-top: 24px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.list-item {
  margin-top: 50px;
  list-style-type: none;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.fa-check {
  height: 24px;
  width: 24px;
  color: #16d887;
}

.plan-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 105px;
}

.plan-main {
  display: flex;
  gap: 218px;
  text-align: center;
  margin-top: 50px;
}

.habit-title {
  color: #151414;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
}

.plan-habit > img {
  width: 92px;
  height: 92px;
}

.habit-caption {
  color: #737272;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-top: 16px;
}

/* mindset section */

.mindset {
  margin-top: 130px;
  height: 300px;
  border-radius: 8px;
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%),
    url(../images/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.mindset-caption {
  padding: 59px 0 0 64px;
  color: #fff;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  width: 550px;
}

.secondary {
  margin-top: 24px;
  margin-left: 64px;
  padding: 20px 36px;
  font-size: 20px;
  color: #f15b22;
  border-radius: 5px;
  border: 0;
}

footer {
  margin-top: 130px;
  color: #f8f8f8;
  background-color: #151414;
}

.footer-main {
  width: 76%;
  margin: 0 auto;
  padding-top: 130px;
}

.icon-group {
  display: flex;
}

.fa-facebook {
}
